//font family
$font-family-primary:'Cormorant Upright', serif;
$font-family-secondary:'Open Sans', sans-serif;
// font size
$font-size-head:64px;
// color
$text-color-primary:#DCCA87;
$text-color-secondary:#AAAAAA;
$text-color-neutral:#fff;
$text-color-black:#0C0B08;