.hero__container {
    background-color: $text-color-black;
    padding: 1.25rem;
    .hero__info {
        text-align: center;
        margin-top: 1.88rem;
        h5 {
            font-size: 1.44rem;
        }
    }
    .hero__img {
        width: 100%;
        img{
            width: 100%;
        }
    }
}