// MOBILE
header {
    background-color: $text-color-black;
    color: $text-color-neutral;
    padding: 1.25rem;
    .nav__logo h1{
        text-transform: uppercase;
        font-size: 1.5rem;
        color: inherit;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__links, .nav__reg {
            display: none;
        }
    }
}

// TABLET
@media screen and (min-width:601px) {
    header {
        padding: 2rem 3.75rem;
        .nav__logo h1{
            font-size: 2.125rem;
        }
        nav {
            .nav__reg {
                display: flex;
                align-items: center;
                gap: 0.94rem;
                padding: 0.88rem 0;
            } 
            .nav__reg a:last-child {
                border-left: 1px solid $text-color-neutral;
                padding-left: 0.94rem;
            }
        }
        .mobile__reg {
            display: none;
        }
    }
}

// DESKTOP
@media screen and (min-width:1200px) {
    header {
        padding: 2rem 7.5rem;
        .nav__logo h1{
            font-size: 2.75rem;
        }
        .menu__open {
                display: none;  
        }
        nav {
            .nav__links {
                display: flex;
                align-items: center;
                gap: 1.86rem;
                text-transform: capitalize;
            }
            .nav__reg {
                gap: 1.56rem;
            }
            .nav__reg a:last-child {
                padding-left: 1.67rem;
            }
        }
        .mobile__nav--container {
            display: none;
        }
    }
}