* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $text-color-neutral;
}

button {
    border: 0;
    outline: 0;
    background: $text-color-primary;
    color: $text-color-black;
    transition: .5s;
    padding: 0.5rem 2rem;
}

button:hover {
    background: $text-color-secondary;
    // color: $text-color-primary;
}
h1, h5 {
    font-family: $font-family-primary;
}
h1 {
    color: $text-color-primary;
    font-size: $font-size-head;
}
h5 {
    color: $text-color-neutral;
}
p {
    color: $text-color-secondary;
    font-family: $font-family-secondary;
}

.container {
    background-color: $text-color-black;
}